.container1 > img{
    width: 250px;
    height: 250px;
    /* display: flex; */
    /* justify-content: space-evenly; */
}
body {
    margin: 0px;
}

img:hover{
    cursor: pointer;
}
.hidden_image {
    display: none;
    
    
    
}
.initial{
    display: block;
}
.d-none{
    display: none;
}
.hidden_image > img {
    width: 600px;
    height: 600px;
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100vh;
    
    /* align-items: center; */
}
#cross {
    height: 5vh;
    position: relative;
    top: -500px;
    right: 0px;
    left: -100px;
}
.container1 {
    margin-left: 70px;
}

h1{
    text-align: center;
}
